/* 
  
  [id='toggle-heart'] {
    position: absolute;
    left: -100vw;
  }
  [id='toggle-heart']:checked + label {
    color: #e2264d;
    -webkit-filter: none;
            filter: none;
    will-change: font-size;
    -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
            animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  }
  [id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
    -webkit-animation: inherit;
            animation: inherit;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  [id='toggle-heart']:checked + label:before {
    will-change: transform, border-width, border-color;
    -webkit-animation-name: bubble;
            animation-name: bubble;
  }
  [id='toggle-heart']:checked + label:after {
    will-change: opacity, box-shadow;
    -webkit-animation-name: sparkles;
            animation-name: sparkles;
  }
  [id='toggle-heart']:focus + label {
    text-shadow: 0 0 3px white,  0 1px 1px white, 0 -1px 1px white,  1px 0 1px white, -1px 0 1px white;
  }
  
  [for='toggle-heart'] {
    align-self: center;
    position: relative;
    color: #888;
    font-size: 1.5em;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  [for='toggle-heart']:before, [for='toggle-heart']:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: '';
  }
  [for='toggle-heart']:before {
    box-sizing: border-box;
    margin: -1.55rem;
    border: solid 2.25rem #e2264d;
    width: 3rem;
    height: 3rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  [for='toggle-heart']:after {
    margin: -0.1875rem;
    width: 0.375rem;
    height: 0.375rem;
    box-shadow: 0.32476rem -3rem 0 -0.1875rem #ff8080, -0.32476rem -2.625rem 0 -0.1875rem #ffed80, 2.54798rem -1.61656rem 0 -0.1875rem #ffed80, 1.84982rem -1.89057rem 0 -0.1875rem #a4ff80, 2.85252rem 0.98418rem 0 -0.1875rem #a4ff80, 2.63145rem 0.2675rem 0 -0.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -0.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -0.1875rem #80c8ff, -1.59425rem 2.562rem 0 -0.1875rem #80c8ff, -0.84635rem 2.50595rem 0 -0.1875rem #a480ff, -2.99705rem 0.35095rem 0 -0.1875rem #a480ff, -2.48692rem 0.90073rem 0 -0.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -0.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -0.1875rem #ff8080;
  }
  
  @-webkit-keyframes heart {
    0%, 17.5% {
      font-size: 0;
      z-index: 9999999;

    }
  }
  
  @keyframes heart {
    0%, 17.5% {
      z-index: 9999999;
      font-size: 0;
    }
  }
  @-webkit-keyframes bubble {
    15% {
      z-index: 9999999;
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 1.25rem;
    }
    30%, 100% {
      z-index: 9999999;
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 0;
    }
  }
  @keyframes bubble {
    15% {
      z-index: 9999999;
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 1.25rem;
    }
    30%, 100% {
      z-index: 9999999;
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 0;
    }
  }
  @-webkit-keyframes sparkles {
    0%, 20% {
        z-index: 99999999;
      opacity: 0;
    }
    25% {
        z-index: 99999999;
      opacity: 1;
      box-shadow: 0.32476rem -0.9375rem 0 0rem #ff8080, -0.32476rem -0.5625rem 0 0rem #ffed80, 0.93545rem -0.33061rem 0 0rem #ffed80, 0.2373rem -0.60462rem 0 0rem #a4ff80, 0.84173rem 0.52523rem 0 0rem #a4ff80, 0.62066rem -0.19145rem 0 0rem #80ffc8, 0.11417rem 0.98557rem 0 0rem #80ffc8, 0.53666rem 0.36589rem 0 0rem #80c8ff, -0.69936rem 0.70375rem 0 0rem #80c8ff, 0.04854rem 0.6477rem 0 0rem #a480ff, -0.98626rem -0.108rem 0 0rem #a480ff, -0.47613rem 0.44179rem 0 0rem #ff80ed, -0.53048rem -0.83843rem 0 0rem #ff80ed, -0.64226rem -0.09681rem 0 0rem #ff8080;
    }
  }
  @keyframes sparkles {
    0%, 20% {
        z-index: 99999999;
      opacity: 0;
    }
    25% {
        z-index: 99999999;
      opacity: 1;
      box-shadow: 0.32476rem -0.9375rem 0 0rem #ff8080, -0.32476rem -0.5625rem 0 0rem #ffed80, 0.93545rem -0.33061rem 0 0rem #ffed80, 0.2373rem -0.60462rem 0 0rem #a4ff80, 0.84173rem 0.52523rem 0 0rem #a4ff80, 0.62066rem -0.19145rem 0 0rem #80ffc8, 0.11417rem 0.98557rem 0 0rem #80ffc8, 0.53666rem 0.36589rem 0 0rem #80c8ff, -0.69936rem 0.70375rem 0 0rem #80c8ff, 0.04854rem 0.6477rem 0 0rem #a480ff, -0.98626rem -0.108rem 0 0rem #a480ff, -0.47613rem 0.44179rem 0 0rem #ff80ed, -0.53048rem -0.83843rem 0 0rem #ff80ed, -0.64226rem -0.09681rem 0 0rem #ff8080;
    }
  }
   */

   /* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600); */
/* body {
  background: -webkit-linear-gradient(#FFAB91 0%, #FFB74D 100%);
  height: 100%;
  min-height: 100vh;
}

* {
  font-family: 'Open Sans', sans-serif;
} */

/* .title {
  text-align: center;
  color: white;
}
.title a {
  color: #B3E5FC;
  font-weight: bold;
}
.title h3 {
  font-weight: bold;
  color: white;
  font-size: 30px;
} */

.container_a {
  width: 80px;
  height: 80px;
  background: transparent;
  padding: 0;
  text-align: center;
}

.icon-wrapper, .icon-wrapper-2 {
  font-size: 40px;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 80px;
}
.icon-wrapper .icon, .icon-wrapper-2 .icon {
  color: #90A4AE;

}
.icon-wrapper .icon i, .icon-wrapper-2 .icon i {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.icon-wrapper.anim .icon, .icon-wrapper-2.anim .icon {
  color: #988ade;
}
.icon-wrapper.anim .icon i, .icon-wrapper-2.anim .icon i {
  -webkit-animation: icon-animation cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s;
          animation: icon-animation cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s;
}
.icon-wrapper .border_a, .icon-wrapper-2 .border_a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 0;
  transition: all ease .5s;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
}
.icon-wrapper .border_a span, .icon-wrapper-2 .border_a span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 1px solid #988ade; */
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}
.icon-wrapper.anim .border_a span, .icon-wrapper-2.anim .border_a span {
  -webkit-animation: border-animation cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
          animation: border-animation cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.icon-wrapper .satellite, .icon-wrapper-2 .satellite {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
}
.icon-wrapper .satellite span, .icon-wrapper-2 .satellite span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
  transition: all ease .5s;
  -webkit-transform-origin: center 0px;
          transform-origin: center 0px;
  -webkit-transform: translate(0, 0) scale(0);
          transform: translate(0, 0) scale(0);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.icon-wrapper.anim .satellite span:nth-child(1), .icon-wrapper-2.anim .satellite span:nth-child(1) {
  top: 0;
  left: 50%;
  background: #988ade;
  -webkit-animation-name: satellite-top;
          animation-name: satellite-top;
}
.icon-wrapper.anim .satellite span:nth-child(2), .icon-wrapper-2.anim .satellite span:nth-child(2) {
  top: 25%;
  left: 100%;
  background: #de8aa0;
  -webkit-animation-name: satellite-top-right;
          animation-name: satellite-top-right;
}
.icon-wrapper.anim .satellite span:nth-child(3), .icon-wrapper-2.anim .satellite span:nth-child(3) {
  top: 75%;
  left: 100%;
  background: #8aaede;
  -webkit-animation-name: satellite-bottom-right;
          animation-name: satellite-bottom-right;
}
.icon-wrapper.anim .satellite span:nth-child(4), .icon-wrapper-2.anim .satellite span:nth-child(4) {
  top: 100%;
  left: 50%;
  background: #8adead;
  -webkit-animation-name: satellite-bottom;
          animation-name: satellite-bottom;
}
.icon-wrapper.anim .satellite span:nth-child(5), .icon-wrapper-2.anim .satellite span:nth-child(5) {
  top: 75%;
  left: 0;
  background: #dec58a;
  -webkit-animation-name: satellite-bottom-left;
          animation-name: satellite-bottom-left;
}
.icon-wrapper.anim .satellite span:nth-child(6), .icon-wrapper-2.anim .satellite span:nth-child(6) {
  top: 25%;
  left: 0;
  background: #8ad1de;
  -webkit-animation-name: satellite-top-left;
          animation-name: satellite-top-left;
}

@-webkit-keyframes border-animation {
  0% {
    border-width: 20px;
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border-width: 0px;
    opacity: 0;
  }
}

@keyframes border-animation {
  0% {
    border-width: 20px;
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border-width: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes satellite-top {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(0, -140px);
            transform: scale(0) translate(0, -140px);
  }
}
@keyframes satellite-top {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(0, -140px);
            transform: scale(0) translate(0, -140px);
  }
}
@-webkit-keyframes satellite-bottom {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(0, 140px);
            transform: scale(0) translate(0, 140px);
  }
}
@keyframes satellite-bottom {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(0, 140px);
            transform: scale(0) translate(0, 140px);
  }
}
@-webkit-keyframes satellite-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(125.2236135957px, -62.6118067979px);
            transform: scale(0) translate(125.2236135957px, -62.6118067979px);
  }
}
@keyframes satellite-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(125.2236135957px, -62.6118067979px);
            transform: scale(0) translate(125.2236135957px, -62.6118067979px);
  }
}
@-webkit-keyframes satellite-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(125.2236135957px, 62.6118067979px);
            transform: scale(0) translate(125.2236135957px, 62.6118067979px);
  }
}
@keyframes satellite-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(125.2236135957px, 62.6118067979px);
            transform: scale(0) translate(125.2236135957px, 62.6118067979px);
  }
}
@-webkit-keyframes satellite-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(-125.2236135957px, 62.6118067979px);
            transform: scale(0) translate(-125.2236135957px, 62.6118067979px);
  }
}
@keyframes satellite-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(-125.2236135957px, 62.6118067979px);
            transform: scale(0) translate(-125.2236135957px, 62.6118067979px);
  }
}
@-webkit-keyframes satellite-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(-125.2236135957px, -62.6118067979px);
            transform: scale(0) translate(-125.2236135957px, -62.6118067979px);
  }
}
@keyframes satellite-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(-125.2236135957px, -62.6118067979px);
            transform: scale(0) translate(-125.2236135957px, -62.6118067979px);
  }
}
@-webkit-keyframes icon-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes icon-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@-webkit-keyframes spark-animation-1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translate(40px) scale(1);
            transform: rotate(0deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg) translate(96px) scale(0);
            transform: rotate(0deg) translate(96px) scale(0);
  }
}

@keyframes spark-animation-1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translate(40px) scale(1);
            transform: rotate(0deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg) translate(96px) scale(0);
            transform: rotate(0deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-18deg) translate(40px) scale(1);
            transform: rotate(-18deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-18deg) translate(96px) scale(0);
            transform: rotate(-18deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-18deg) translate(40px) scale(1);
            transform: rotate(-18deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-18deg) translate(96px) scale(0);
            transform: rotate(-18deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-3 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-36deg) translate(40px) scale(1);
            transform: rotate(-36deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-36deg) translate(96px) scale(0);
            transform: rotate(-36deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-3 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-36deg) translate(40px) scale(1);
            transform: rotate(-36deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-36deg) translate(96px) scale(0);
            transform: rotate(-36deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-4 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-54deg) translate(40px) scale(1);
            transform: rotate(-54deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-54deg) translate(96px) scale(0);
            transform: rotate(-54deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-4 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-54deg) translate(40px) scale(1);
            transform: rotate(-54deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-54deg) translate(96px) scale(0);
            transform: rotate(-54deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-5 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-72deg) translate(40px) scale(1);
            transform: rotate(-72deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-72deg) translate(96px) scale(0);
            transform: rotate(-72deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-5 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-72deg) translate(40px) scale(1);
            transform: rotate(-72deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-72deg) translate(96px) scale(0);
            transform: rotate(-72deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-6 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-90deg) translate(40px) scale(1);
            transform: rotate(-90deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-90deg) translate(96px) scale(0);
            transform: rotate(-90deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-6 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-90deg) translate(40px) scale(1);
            transform: rotate(-90deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-90deg) translate(96px) scale(0);
            transform: rotate(-90deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-7 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-108deg) translate(40px) scale(1);
            transform: rotate(-108deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-108deg) translate(96px) scale(0);
            transform: rotate(-108deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-7 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-108deg) translate(40px) scale(1);
            transform: rotate(-108deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-108deg) translate(96px) scale(0);
            transform: rotate(-108deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-8 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-126deg) translate(40px) scale(1);
            transform: rotate(-126deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-126deg) translate(96px) scale(0);
            transform: rotate(-126deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-8 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-126deg) translate(40px) scale(1);
            transform: rotate(-126deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-126deg) translate(96px) scale(0);
            transform: rotate(-126deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-9 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-144deg) translate(40px) scale(1);
            transform: rotate(-144deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-144deg) translate(96px) scale(0);
            transform: rotate(-144deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-9 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-144deg) translate(40px) scale(1);
            transform: rotate(-144deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-144deg) translate(96px) scale(0);
            transform: rotate(-144deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-10 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-162deg) translate(40px) scale(1);
            transform: rotate(-162deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-162deg) translate(96px) scale(0);
            transform: rotate(-162deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-10 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-162deg) translate(40px) scale(1);
            transform: rotate(-162deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-162deg) translate(96px) scale(0);
            transform: rotate(-162deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-11 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-180deg) translate(40px) scale(1);
            transform: rotate(-180deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-180deg) translate(96px) scale(0);
            transform: rotate(-180deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-11 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-180deg) translate(40px) scale(1);
            transform: rotate(-180deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-180deg) translate(96px) scale(0);
            transform: rotate(-180deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-12 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-198deg) translate(40px) scale(1);
            transform: rotate(-198deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-198deg) translate(96px) scale(0);
            transform: rotate(-198deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-12 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-198deg) translate(40px) scale(1);
            transform: rotate(-198deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-198deg) translate(96px) scale(0);
            transform: rotate(-198deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-13 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-216deg) translate(40px) scale(1);
            transform: rotate(-216deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-216deg) translate(96px) scale(0);
            transform: rotate(-216deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-13 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-216deg) translate(40px) scale(1);
            transform: rotate(-216deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-216deg) translate(96px) scale(0);
            transform: rotate(-216deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-14 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-234deg) translate(40px) scale(1);
            transform: rotate(-234deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-234deg) translate(96px) scale(0);
            transform: rotate(-234deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-14 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-234deg) translate(40px) scale(1);
            transform: rotate(-234deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-234deg) translate(96px) scale(0);
            transform: rotate(-234deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-15 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-252deg) translate(40px) scale(1);
            transform: rotate(-252deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-252deg) translate(96px) scale(0);
            transform: rotate(-252deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-15 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-252deg) translate(40px) scale(1);
            transform: rotate(-252deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-252deg) translate(96px) scale(0);
            transform: rotate(-252deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-16 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-270deg) translate(40px) scale(1);
            transform: rotate(-270deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-270deg) translate(96px) scale(0);
            transform: rotate(-270deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-16 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-270deg) translate(40px) scale(1);
            transform: rotate(-270deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-270deg) translate(96px) scale(0);
            transform: rotate(-270deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-17 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-288deg) translate(40px) scale(1);
            transform: rotate(-288deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-288deg) translate(96px) scale(0);
            transform: rotate(-288deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-17 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-288deg) translate(40px) scale(1);
            transform: rotate(-288deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-288deg) translate(96px) scale(0);
            transform: rotate(-288deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-18 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-306deg) translate(40px) scale(1);
            transform: rotate(-306deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-306deg) translate(96px) scale(0);
            transform: rotate(-306deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-18 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-306deg) translate(40px) scale(1);
            transform: rotate(-306deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-306deg) translate(96px) scale(0);
            transform: rotate(-306deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-19 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-324deg) translate(40px) scale(1);
            transform: rotate(-324deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-324deg) translate(96px) scale(0);
            transform: rotate(-324deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-19 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-324deg) translate(40px) scale(1);
            transform: rotate(-324deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-324deg) translate(96px) scale(0);
            transform: rotate(-324deg) translate(96px) scale(0);
  }
}
@-webkit-keyframes spark-animation-20 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-342deg) translate(40px) scale(1);
            transform: rotate(-342deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-342deg) translate(96px) scale(0);
            transform: rotate(-342deg) translate(96px) scale(0);
  }
}
@keyframes spark-animation-20 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-342deg) translate(40px) scale(1);
            transform: rotate(-342deg) translate(40px) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-342deg) translate(96px) scale(0);
            transform: rotate(-342deg) translate(96px) scale(0);
  }
}

@media only screen and (max-width: 990px) {
  .container_a{
    background: #fff;
    top: 80%;
    width: 60px;
    height: 60px;
  }
}